html, body {
    /* width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:normal;
    line-height: 1.6em;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.FireChat {
    /* border: 3px solid red; */
    /* background-color: lightgrey; */
    position:absolute;
    text-align: center;
    height: 99vh;
    width: 99vw;
    /* height: 65vw; */
    /* box-sizing: border-box; */
}

.container {
    position:absolute;
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 8fr;
    /*1fr 9fr;*/
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    max-height: 10vh;
}

.main{
    display: grid;
    grid-template-columns:1fr 4fr 1fr;
    min-height:400px;
}

.section-1 {
    position:relative;
    /* border: 1px solid black; */
    /* display: grid;
    grid-template-columns: 1fr 5fr 1fr; */
    /* height: 90% */
}

.section-2 {
    position:relative;
    border-radius: 15px;
    /* border: 1px solid black; */
    /* display: grid;
    grid-template-columns: 1fr 5fr 1fr; */
    /* height: 90% */
}

.section-3 {
    position:relative;
    /* border: 1px solid black; */
    /* display: grid;
    grid-template-columns: 1fr 5fr 1fr; */
    /* height: 90% */
}

img {
    height: 1em;
    width: 1em;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.top-wrapper {
    min-height: 100vh;
    margin: 1em;
}

.title {
    grid-column: 2/5;
    font-size: 3em;
    font-weight: 700;
    text-shadow: 3px 8px rgba(50, 50, 70, 0.5);
    color: red;
    /* position: relative; */
    /* top: .5em; */
}

.signout-btn{
    /* position: relative; */
    top: 2.5em;
}

.box2 {
    text-align: center;
}

.box3-signIn {
    text-align: center;
}

.sign-in-btn {
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}

.chat {
    grid-column: 2/6;
}

.chatting {
    text-align: center;
    height: 5em;
}

.welcome {
    color: #fff;
    font-size: 1em;
    font-weight: 300;
}

.beginning {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2em;
}
          
/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat-sect {
    background-color: #fff;
    border-radius: 20px;
}

.chat-sect .channel {
    text-align: left;
    border-radius: 4px;
    max-height: 65vh;
    margin: 0 1em 0 1em;
    overflow: auto;
    display:flex;
    flex-direction:column-reverse;
    position: relative;
}

.chat-sect .enter-msg {
    /* background-color:blueviolet; */
    /* align-items: center;
    text-align: center;
    max-width: 90vw; */
    box-sizing: border-box;
    min-width: 500px;
}

.chat-sect .blank {
    height: 1em;
}

.show-rooms {
    /* border: 1px solid black; */
    /* background-color: lightblue; */
    /* margin: 1em 1em 1em 1em; */
    /* width: 15%; */
}

.show-rooms .indiv-room {
    margin: 2em 0em 2em 0em;
}

.show-users {
    /* border: 1px solid black; */
    /* background-color: lightblue; */
    /* margin: 1em 2em 1em 2em; */
    /* width: 15%; */
}

.show-users .indiv-user {
    margin: 2em 0em 2em 0em;
}

.signout {
    border-radius: 5px;
}

.pushable {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    /* padding: 12px 42px; */
    padding: 6px 30px;
    border-radius: 12px;
    font-size: 1.25em;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}